<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infinity.jumbleword"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.infinity.jumbleword.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.infinity.jumbleword.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.infinity.jumbleword.GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.infinity.jumbleword.ScoreActivity"
            android:label="@string/title_activity_score"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.infinity.jumbleword.ServiceActivity"
            android:label="@string/title_activity_service" >
        </activity>
        <activity
            android:name="com.infinity.jumbleword.JumbleService"
            android:label="@string/title_activity_jumble_service" >
        </activity>
        <service android:name="com.infinity.jumbleword.jumbleService"></service>
    </application>

</manifest>
